/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* roots */
:root {
  --background-color: #282828;
  --accent-purple: #C440B0;
  --accent-blue: #54D3DE;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

/* nav */
nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  /* nav logo */
  .nav-logo {
    width: 15%;

    .nav-logo-image {
      width: 100%;
      height: auto;
    }
  }
  /* nav buttons and icons */
  .nav-content {
    display: flex;
    align-items: center;
    gap: 1rem;

    .nav-icons {
      font-size: 3rem;
      cursor: pointer;
    }
    
    .primary-button {
      height: 100%;
      background: radial-gradient(circle at 100% 100%, #282828 0, #282828 8px, transparent 8px) 0% 0%/12px 12px no-repeat,
        radial-gradient(circle at 0 100%, #282828 0, #282828 8px, transparent 8px) 100% 0%/12px 12px no-repeat,
        radial-gradient(circle at 100% 0, #282828 0, #282828 8px, transparent 8px) 0% 100%/12px 12px no-repeat,
        radial-gradient(circle at 0 0, #282828 0, #282828 8px, transparent 8px) 100% 100%/12px 12px no-repeat,
        linear-gradient(#282828, #282828) 50% 50%/calc(100% - 8px) calc(100% - 24px) no-repeat,
        linear-gradient(#282828, #282828) 50% 50%/calc(100% - 24px) calc(100% - 8px) no-repeat,
        linear-gradient(90deg, #c440b0 0%, #54D3DE 100%);
      border-radius: 15px;
      padding: 20px 30px;
      box-sizing: border-box;
      color: #fff;
      font-size: 1.1rem;
      cursor: pointer;
      transition: 1s all ease;

      &:hover {
        transition: 1s all ease;
        background: radial-gradient(circle at 100% 100%, #282828 0, #282828 8px, transparent 8px) 0% 0%/12px 12px no-repeat,
        radial-gradient(circle at 0 100%, #282828 0, #282828 8px, transparent 8px) 100% 0%/12px 12px no-repeat,
        radial-gradient(circle at 100% 0, #282828 0, #282828 8px, transparent 8px) 0% 100%/12px 12px no-repeat,
        radial-gradient(circle at 0 0, #282828 0, #282828 8px, transparent 8px) 100% 100%/12px 12px no-repeat,
        linear-gradient(#282828, #282828) 50% 50%/calc(100% - 8px) calc(100% - 24px) no-repeat,
        linear-gradient(#282828, #282828) 50% 50%/calc(100% - 24px) calc(100% - 8px) no-repeat,
        linear-gradient(90deg, #54D3DE 0%, #54D3DE 100%);
      }
    }
  }
}

/* LISTINGS START */
.listings-page {
  width: 100vw;
  padding: 20px;
  background-color: var(--background-color);

  .create-listing-search,.listing-buttons {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding-bottom: 20px;
  }

  .listing-buttons #allListings, #myListings {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    &:hover {
      border: 2px solid white;
      cursor: pointer;
    }
  }

  .listing-buttons #allListings {
    background-color: var(--accent-blue);
  }
  
  .listing-buttons #myListings {
    background-color: var(--accent-purple);
  }

  .listings {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 30px;
  }

  /* Edit Form start */
  .edit-project {
    border-radius: 60px;
    background-image: linear-gradient(-50deg, rgba(235,137,62,1) 0%, rgba(237,82,85,1) 25%, rgba(215,68,152,1) 50%, rgba(66,92,170,1) 80%, rgba(109,205,232,1) 100%);
    padding: 5px;
    width: 100%;
  }
  .edit-form {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--background-color);
  }
  .edit-form label {
    color: white;
}

.edit-form input {
    height: 30px;
}
  /* Edit Form Ends */

  /* Listing Details - Start */
  .listing-card {
    display: flex;
    width: 480px;
    height: 250px;
    background-color: white;
    border-radius: 20px;

    .listing-image img {
      width: 250px;
      height: 250px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    .listing-card-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    }

    .listing-card-buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .view-button {
        position: relative;
        padding: 5px 30px;
        background-color: var(--background-color);
        color: white;
        z-index: 1;
        border: none;
        border-radius: 5px;
        transition: 0.5s all ease;
      }
      
      .view-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 5px;
        padding: 2px;
        background: linear-gradient(to right, var(--accent-purple), var(--accent-blue));
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: destination-out;
        mask-composite: exclude; 
        cursor: pointer;
        transition: 0.5s all ease;
      }

      .view-button:hover::before {
        background: var(--accent-blue);
      }
    } 
  }
  /* Listing Details - End */
}
/* LISTINGS END */

/* FOOTER STARTS */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F1F1F;
  color: white;
  padding: 20px 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;

  .footer-logo {
    display: flex;
    align-items: center;
    
    a{
      color: white;
      text-decoration: none;
    }

    .footer-logo img {
      margin-right: 10px;
    }
  }

  .footer-content {
    display: flex;
    align-items: center;
    p {
      margin: 0;
      padding: 0 10px;
    }
    span {
      display: inline-block;
      width: 2px;
      height: 15px;
      background-color: white;
      margin: 0 10px;
    }
  }
}
/* FOOTER ENDS */

/* home page landing Start */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  background-color:var(--background-color) ;
}

.buttons {
  display: flex;
  gap: 20px;
}

.primary-button {
  height: 100%;
  background: radial-gradient(circle at 100% 100%, #282828 0, #282828 8px, transparent 8px) 0% 0%/12px 12px no-repeat,
    radial-gradient(circle at 0 100%, #282828 0, #282828 8px, transparent 8px) 100% 0%/12px 12px no-repeat,
    radial-gradient(circle at 100% 0, #282828 0, #282828 8px, transparent 8px) 0% 100%/12px 12px no-repeat,
    radial-gradient(circle at 0 0, #282828 0, #282828 8px, transparent 8px) 100% 100%/12px 12px no-repeat,
    linear-gradient(#282828, #282828) 50% 50%/calc(100% - 8px) calc(100% - 24px) no-repeat,
    linear-gradient(#282828, #282828) 50% 50%/calc(100% - 24px) calc(100% - 8px) no-repeat,
    linear-gradient(90deg, #c440b0 0%, #54D3DE 100%);
  border-radius: 15px;
  padding: 20px 30px;
  box-sizing: border-box;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 1s all ease;
}

.primary-button:hover {
  transition: 1s all ease;
  background: radial-gradient(circle at 100% 100%, #282828 0, #282828 8px, transparent 8px) 0% 0%/12px 12px no-repeat,
    radial-gradient(circle at 0 100%, #282828 0, #282828 8px, transparent 8px) 100% 0%/12px 12px no-repeat,
    radial-gradient(circle at 100% 0, #282828 0, #282828 8px, transparent 8px) 0% 100%/12px 12px no-repeat,
    radial-gradient(circle at 0 0, #282828 0, #282828 8px, transparent 8px) 100% 100%/12px 12px no-repeat,
    linear-gradient(#282828, #282828) 50% 50%/calc(100% - 8px) calc(100% - 24px) no-repeat,
    linear-gradient(#282828, #282828) 50% 50%/calc(100% - 24px) calc(100% - 8px) no-repeat,
    linear-gradient(90deg, #54D3DE 0%, #54D3DE 100%);
}


.create-listing {
  background-color: var(--accent-purple);
}

.Landing-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.large-shoe{
  display: flex;
  border-radius: 15px;
  background-image: url('../public/Adidas-shoe.png' );
  width: 700px;
}

.Landing-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 1.5rem;
}

.Landing-text h1{
  background: -webkit-linear-gradient( 135deg, var(--accent-purple), var(--accent-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small-shoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.small-shoes img {
  border-radius: 15px;
}

.filter-bar {
  background: linear-gradient(135deg, var(--accent-purple), var(--accent-blue));
  display: flex;
  padding: 10px 20px ;
  width: 100%;
  gap: 10px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

.filter {
  background: #ffffff;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.filter:hover {
  background-color: var(--accent-purple);
  color: white;
}
/* home page landing end */

/* LOGIN/SIGNUP START  */
.user-form{
  display: flex;
  justify-content: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
  
}

.login {
    margin-top: 100px;
    width: 300px;
    height: 330px;
    display: flex;
    flex-direction: column;
    border-image: linear-gradient(to top, #54D3DE 0%, #C440B0 100%) 1;
    border-width: 4px;
    border-style: solid;
    padding: 20px;

    /* form title */
    h3 {
        font-size: 1.5rem;
        color: #ffffff;
    }

    /* form labels and inputs */
    label {
        margin: 4px 0px;
        font-weight: bold;
        color: #ffffff;
    }

    input {
        border-radius: 5px;
        border: 1px solid rgb(0, 0, 0);
        padding: 10px;
    }

    button {
        width: 100%;
        height:70px;
        margin-top: 20px;
    }

}

.signup{
  margin-top: 100px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-image: linear-gradient(to top, #54D3DE 0%, #C440B0 100%) 1;
    border-width: 4px;
    border-style: solid;
    padding: 20px;

    /* form title */
    h3 {
        font-size: 1.5rem;
        color: #ffffff;
    }

    /* form labels and inputs */
    label {
        margin: 4px 0px;
        font-weight: bold;
        color: #ffffff;
    }

    input {
        border-radius: 5px;
        border: 1px solid rgb(0, 0, 0);
        padding: 10px;
    }

    button {
        width: 100%;
        height:70px;
        margin-top: 20px;
    }
}
/* LOGIN/SIGNUP END  */